@page
@model DashboardAdminModel
@{
    ViewData["Title"] = "Dashboard Admin";
}

<body class="background-biomonitor">
    <style>
        .column {
            flex: 1;
            padding: 0px;
            box-sizing: border-box;
            overflow: auto;
        }

        #lookerColumn {
            width: 100%;
            max-width: 50%;
            height: 770px;
        }

        #tableColumn {
            width: 100%;
            max-width: 50%;
            height: 100%;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
        }

        .styled-table {
            border-collapse: separate;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            margin: 25px 0;
            min-width: 400px;
            background-color: white;
        }

        .styled-table thead tr {
            background-color: #2B3019;
            color: #ffffff;
            text-align: left;
        }

        table {
            border-collapse: separate;
        }

        th {
            background-color: #2B3019;
            padding: 8px 12px; 
        }

        td {
            padding: 12px 8px; 
            border-bottom: 1px solid #ddd; 
            text-align: left;
        }

        tr:hover {
            background-color: #f5f5f5; 
        }

        td:first-child, th:first-child {
            border-left: none;
        }
    </style>

    <div class="d-flex justify-content-between">
        <div class="column" id="lookerColumn">
            <iframe width="900" height="1200" src="https://lookerstudio.google.com/embed/reporting/42a93e3b-d316-4907-8459-1a51b316e677/page/u4awD" frameborder="0" style="border:0" sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
        </div>
        <div class="column" id="tableColumn">
            <table class="table-hover styled-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Género</th>
                        <th>País</th>
                        <th>Correo</th>
                        <th>Última Sesión</th>
                        <th>Progreso personal</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in @Model.users)
                    {
                        <tr>
                            <td>@user.UserId</td>
                            <td>@user.Nombre @user.Apellido</td>
                            <td>@user.Genero</td>
                            <td>@user.Pais</td>
                            <td>@user.Correo</td>
                            <td>@user.LastLogin</td>
                            <td> 
                            <a href="https://lookerstudio.google.com/embed/reporting/20a7baeb-d558-48e4-82ea-1b14e7e4f5ce/page/u4awD?params=%7B%22ds10.bioid%22:@user.UserId,%22ds21.bioid%22:@user.UserId,%22ds5.bioid%22:@user.UserId,%22ds12.bioid%22:@user.UserId,%22bioid1%22:@user.UserId%7D" target="_blank" class="btn btn-success" role="button">Ver Dashboard</a>

                            <td>
                                <form asp-page-handler="DeleteUser" method="post">
                                    <input type="hidden" name="userId" value="@user.UserId" />
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
